* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-container {
    width: 100%;
    display: grid;
    grid-template: repeat(3, auto)/repeat(4, 1fr);
}
.flex-container header {
    grid-area: 1/1/2/5;
    background: red;
}
.flex-container header h1 {
    padding: 10px;
    color: #fff;
    text-align: center;
}
.flex-container section#section-outer {
    background: green;
    padding: 20px;
    grid-area: 2/1/3/5;
}
.flex-container section#section-inner {
    background: #fff;
    padding: 20px;
}
.flex-container section#section-inner ul {list-style: none;}
.flex-container section#section-inner ul li{
    border: 1px solid #999;
    padding: 10px;
    margin: 5px 0;
    background-image: linear-gradient(to bottom, #563e26, #78684e, #9c947b, #c2c2ad, #ecf1e1);
}
.flex-container main {
    grid-area: 3/1/4/5;
    background: #ccc;
    padding: 20px;
}
.flex-container aside {
    background: yellow;
    padding: 20px;
    text-align: center;
    display: none;
}
.flex-container aside ul {
    list-style: none;
}
.flex-container aside ul li {
    border: 1px solid #111;
    background: #fff;
    padding: 10px;
    margin: 10px 0;
}
.flex-container main h2#bilder{
    margin-top: 2vh;
}
.flex-container main img {
    width: 150px;
}
.flex-container footer {
    grid-area: 4/1/5/5;
    background: #555;
    padding: 10px;
    text-align: center;
}
@media screen and (min-width: 1024px) {
    .flex-container header {grid-area: 1/1/2/4;}
    .flex-container section#section-outer {grid-area: 2/1/7/2;}
    .flex-container main {grid-area: 2/2/7/4;}
    .flex-container aside {grid-area: -4/4/7/5;display: block;}
    .flex-container footer {grid-area: 7/-5/8/-1;}
}